<ion-header [translucent]="true" id="header">
  <ion-toolbar>
    <ion-title class="center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="form-list">
      <form [formGroup]="loginForm" (submit)="login()">
        <ion-input
          id="email"
          label="Correo"
          label-placement="floating"
          formControlName="correo"
          name="email"
          errorText="Correo inválido"
        ></ion-input>

        <ion-input
          id="password"
          label="Contraseña"
          label-placement="floating"
          formControlName="contraseña"
          name="contraseña"
          errorText="Mínimo 8 caracteres"
          [type]="inputPassType"
        >
          @if(inputPassType == 'password'){
          <ion-icon
            slot="end"
            name="eye"
            aria-hidden="true"
            (click)="toogleVisibility()"
          ></ion-icon>
          } @else {
          <ion-icon
            slot="end"
            name="eye-off"
            aria-hidden="true"
            (click)="toogleVisibility()"
          ></ion-icon>
          }
        </ion-input>

        <ion-button
          type="submit"
          class="init"
          shape="round"
          expand="block"
          [disabled]="!loginForm.valid"
          >@if (logging$ | async) {
          <ion-spinner name="circles"></ion-spinner> }@else { Iniciar }
        </ion-button>
      </form>
      <p>¿No tienes cuenta? <a href="#" (click)="$event.preventDefault()">Registrarse</a></p>
      <a href="#" (click)="$event.preventDefault()">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</ion-content>
