ion-input {
  width: 90%;
  margin: 18px;
}

.form-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ion-button.init {
  margin: auto;
  margin-top: 42px;
}

.center {
  text-align: center;
}
